<div id="item-<%= item_type.id %>" class="row item-type-row">
  <div class="col-sm-12">
    <div class="item-row clickable well well-sm">
      <div class="row">
        <div class="collapse item-type-id"><%= item_type.id %></div>
        <div class="col-sm-2 item-type-name"><%= item_type.name %></div>
        <% if item_type.description.length > 0 %>
          <div class="col-sm-6 item-type-description"><%= item_type.description %></div>
        <% else %>
          <div class="col-sm-6 text-muted">No description given.</div>
        <% end %>
        <div class="col-sm-2 text-center"><%= item_type.items.length %></div>
        <div class="col-sm-2 text-center"><%= item_type.item_property_definitions.length %></div>
      </div>
    </div>
  </div>
</div>
